.header-highlight {
    background-color: #11B3CF; /* Adjust as needed */
    color: white; /* Adjust text color as needed */
  }
  .list-item-button {
    background-color: #11B3CF !important;
    color: #FFFFFF;
  }